.editorconfig
.gitattributes
.idea/
.nyc_output/
.prettierignore
.travis.yml
.vscode/
*.iml
*.log
appveyor.yml
CONTRIBUTING.md
coverage.*
coverage/
DCO
node_modules/
npm-debug.log
prettier.config.js
src/
tsconfig.json
tslint.json
yarn.lock
