version: '{build}'

shallow_clone: true

cache:
 - '%LOCALAPPDATA%\\Yarn'

environment:
  NODEJS_VERSION: '6.9.4'

install:
  - ps: Install-Product node $env:NODEJS_VERSION
  - yarn install

build_script:
  - yarn run build

test_script:
  - yarn run lint
  - yarn run cover

after_test:
  - ps: |
      $env:PATH = 'C:\Program Files\Git\usr\bin;' + $env:PATH
      Invoke-WebRequest -Uri 'https://codecov.io/bash' -OutFile codecov.sh
      bash codecov.sh -f "coverage\lcov.info"
